<!DOCTYPE html>
<html>
    <head>
        <title>Blog Document</title>
    </head>
    <body>
        <h1>Blog page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolor quisquam sunt consequatur, dolorem, saepe blanditiis aliquam consequuntur praesentium quis itaque soluta neque quas earum facilis. Praesentium repudiandae eum neque?</p>
    </body>
</html>