.about-container {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background-color: #f9f9f9; */
  padding: 50px 0px;
}

/* .trusted-dental-lab {
  background-color: #f8f9fa;
} */

.about-map {
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.about-content {
  display: flex;
  align-items: start;
  gap: 40px;
  line-height:1.8;
}

@media (max-width: 779px) {
  .about-content {
    margin-top: 20px;
  }
  
}

.about-images {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.boss-work {
  background-color: #f9f9f9;
}

.image-top img,
.image-bottom img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.images-home-section {
  position: relative;
}

.image-top {
  width: 62% !important;
  height: 75% !important;
}

.image-bottom {
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 25%;
  width: 32% !important;
  height: 55% !important;
}

.about-text {
  /* max-width: 450px; */
  text-align: start;
  /* display: flex; */
  margin-right: auto;
  padding: 0px 12px;
}

.about-text h2 {
  /* max-width: 400px; */
  font-size: 2.5rem;
  line-height: 1.55;
  z-index: 3;
}

.highlight {
  color: #4a9da0;
}

.about-text p {
  margin-top: 20px;
  font-size: 1rem;
  color: #555;
  line-height: 1.8;
}
.custom-image-radius-left {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
  margin-left: auto; 
  display: flex;
}
.custom-image-radius {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden; 
  margin-top: 100px;
  /* margin-right: 20px; */
  margin-left: -12px;
  display: block;
}
.certification-section {
  position: relative;
  background: url("/images/about-main.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 550px;
  /* bottom: 30px; */
}

.certification-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Dark overlay for better readability */
.certification-overlay {
  position: relative;
  z-index: 2;
  /* padding: 30px; */
  width: 100%;
  text-align: center;
  border-radius: 10px;
  max-width: 50%;
  font-size: 25px;
}

@media (max-width: 775px) {
  .certification-overlay {
    max-width: 100%;
    padding: 40px 0px;
    font-size: 15px;
  }

  .certification-section {
    position: relative;
    background: url("/images/about-main.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    /* bottom: 30px; */
  }

}

.certification-content {
  margin: auto;
  color: #eceae6 !important;
  line-height: 1.9;
}

.certification-content h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.certification-content p {
  font-size: 1.5rem;
  line-height: 1.8;
  width: 600px;
}

@media (max-width: 1080px) {
  .about-content {
    gap: 30px;
  }

  .about-text {
    max-width: 500px;
  }

  h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 991px) {
  .about-content {
    text-align: start;
    gap: 20px;
  }

  .about-text {
    margin-left: 0;
    max-width: 600px;
    text-align: left;
  }

  .about-images {
    align-items: center;
  }

  h2 {
    font-size: 2rem;
  }

  .image-bottom {
    width: 55% !important;
  height: 55% !important;
  right: -2px;
  }
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    margin-top: 20px;
  }

  .about-images {
    margin-top: 50px;
    width: 100%;
    height: 70%;
    align-items: center;
  }

  .image-top {
    width: 80%;
    height: auto;
  }

  .about-text {
    margin-top: 10px;
  }

  h2 {
    font-size: 1.8rem;
  }

  /* p {
    font-size: 0.95rem;
    text-align: left;
  } */

  .image-bottom {
    width: 35% !important;
  height: 35% !important;
  right: 50px;
  bottom: 15px;
  }
}

@media (max-width: 599px) {
  .about-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.6rem;
  }

  .image-top,
  .image-bottom {
    width: 85% !important;
  }

  .about-text {
    max-width: 90%;
  }

  .image-bottom {
    width: 58% !important;
  height: 45% !important;
  right: 0px;
  bottom: 15px;
  }
}

@media (max-width: 420px) {
  .about-container {
    padding: 10px;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  p {
    font-size: 0.9rem;
  }

  .image-top,
  .image-bottom {
    width: 95%;
    height: 400px;
  }
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px; */
  background: #f9f9f9;
}

.about-left {
  height: 100%;
  height: auto;
  text-align: left;
  /* padding: 20px; */
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: space-between;
  align-items: end;
}


.about-left p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  z-index: 3;
}

.about-vector-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 55%;
  left: 88%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 1;
}

.about-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.about-content p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 20px;
  z-index: 3;
  line-height:1.8;
}


.about-video {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: transparent;
  text-align: center;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
}

.about-video video {
  width: 80%;
  height: 100%;
  border-radius: 4px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); */
  z-index: -1;
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(125deg, #3e9293, #52a684, #8840b6);
  opacity: 0.7;

}
.about-new-left{
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}
@media (max-width: 768px) {
  .about-left {
    width: 100%;
    align-items: center;
  }
}



.card-wop {
  padding: 0;
}

.right-card {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.working-with-the-best {
  background-color: #f9f9f9;
}

.overlays-img {
  position: absolute;
  background: linear-gradient(to left, rgba(249, 249, 249, 1),rgba(249, 249, 249, 0.7), rgba(249, 249, 249, 0.1));
}

@media (max-width: 992px) {
  .overlays-img {
    background: linear-gradient(to top, rgba(249, 249, 249, 1),rgba(249, 249, 249, 0.7), rgba(249, 249, 249, 0.1));
  }
}

.main-heading-with-double-color {
  width: 77%;
  color: #444 !important;
  text-align: start;
  margin-top: 40px;
}

.highlight-text1{
  color: #00478a;
}
.highlight-text2{
  color:#00818a;
}

.img-box {
  background-color: rgba(1, 94, 138, 0.3);
}

.about-content0 {
  /* width: 85%; */
  padding: 0px 12px;
  line-height: 1.8;
}

@media (max-width: 991px) {
  .about-content0 {
    width:100%;
  }
  .about-text h2{
    width: 80% !important;
    font-size: 2rem;
  }
}
@media(max-width:768px){
 .about-container .about-text h2{
    width: 100% !important;
    margin-top: 60px !important; 
    font-size: 1.9rem;
  }
}

@media(max-width:576px){
  .about-text h2{
    font-size: 1.7rem;
    margin-top: 20px;
    width: 100% !important;
  }
  .about-content{
    margin-top: 10px !important;
    width: 100% !important;
    padding: 0px 12px;
  }
  .custom-image-radius{
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px 12px;
    /* margin-right: 10px; */
  }
  .custom-image-radius-left{
    padding: 0px 12px;
  }
  .working-with-the-best{
    padding-bottom: 20px;
  }
  .working-with-the-best .about-text{
    margin-top: 0px;
  }
  .working-with-the-best .about-content{
    padding: 0px;
  }
  .working-with-the-best .row .col-lg-6,.trusted-dental-lab .row .col-lg-6{
    padding: 0px 24px;
  }
  .about-video video,.video-overlay{
    width: 100%;
    left: 0%;
  }
  .about-container{
    margin-top:95px;
    margin-bottom: 30px;
    padding: 0px;
  }
  .about-container .about-text{
    padding: 0px;
  }
  .about-images{
    width: 100%;
    /* margin-top: 15px; */
    width: 95%;
    margin: 15px auto 0px;
  }
  .about-text{
    max-width: 100%;
    margin-top: 50px;
  }
  .about-text p{
    margin-top: 10px;
  }
  .about-map{
    padding: 35px 0px;
  }
  .about-map .about-text{
    margin-top: 30px;
    padding: 0px 12px;
  }
  .about-content0{
    padding: 0px;
  }
  .certification-section{
    padding: 0 2.5%;
  }
  .boss-work .about-text,.boss-work .about-content{
    margin-top: 0px;
    padding: 0px;
  }
  .standard-work .about-text{
    margin-top: 10px;
    width: 100% !important;
  }
  .card-wop{
    padding: 0px 12px;
  }
}
@media(min-width:1400px){
  .custom-image-radius{
    margin-left: auto;
    margin-right: auto;
   
  }
  .custom-image-radius-left{
    margin-right: auto;
  }
  .about-text{
    padding: 0px 38px;
  }
}