/* *{
    font-family: "Raleway", sans-serif;
} */
/* --------------------------- ABOUT SECTION ------------------------- */
.About-section{
    position: relative;
}
.about-img1{
    width: 60% !important;
    height:70% !important;
}
.About-section .row .col-xl-5{
    position: relative;
}
.about-img2{
    position: absolute;
    z-index: 1;
    top: 35%;
    right:8.5%;
    width:60% !important;
    height:70% !important;   
}
.about-img5{
    width: 26%;
    position: absolute;
    top: 60%;
    left:12%;
    z-index: -1;
}
.about-icon1{
    position: absolute;
    top: 12%;
    right: 18.7%;
    width: 11.8%;
}
.text-ring{
    height: 110px;
    width: 110px;
    position: absolute;
    top: 7.5%;
    right: 13%;
    animation: rotateRing 10s linear infinite;
}
@keyframes rotateRing {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.text-title{
    font-size: 18px;
    font-weight: 400;
}

.text-subtitle{
    font-size: 30px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    line-height:50px;
    max-width: 85%;
}
.highlight-text1{
    color: #7243a8;
}
.highlight-text2{
    color:#68aba1;
}
.about-img3{
    position: absolute;
    top:12%;
    /* top:18%; */
    right:0%;
    width: 28%;
}
.about-img-wrapper{
    width: 35%;
    padding: 0px 25px;
}
.about-img-wrapper img{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: auto;
    justify-content: center;
}
.about-img-wrapper p{
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    line-height: 1.7;
    font-size: 14px;
}
.btn-readmore,
.btn-readmore:active,
.btn-readmore:focus,
.btn-readmore:hover{
    display: flex;
    justify-content: center;
    background-color: #68ABA1 !important;
    color: #fff !important;
    left:41.5%;
    z-index: 1;
    position: relative;
    padding: 8.5px 22px;
    font-size: 14px;
    border-radius:8px;
    letter-spacing: 1px;
}
@media(max-width:1200px){
    .about-img1{
        width:55% !important;
        height: 68% !important;
    }
    .about-img2{
        top: 38%;
        right: 16%;
        width: 55% !important;
        height: 68% !important;
    }
    .about-icon1{
        top: 15%;
        right: 20.35%;
        width:12%
    }
    .text-subtitle{
        font-size: 26px;
        font-weight: 500;
        line-height: 40px;
        max-width: 85%;
    }
    .about-img3{
        top: 13%;
    }
    .about-img5{
        top:53%;
        left:8%;
    }
    /* .gap-5{
        gap:1rem !important
    } */
    .about-img-wrapper {
        width:38%;
        padding: 0 8px;
    }
    .about-img-wrapper img{
        padding: 10px 0px;
    }
    .about-img-wrapper p{
        line-height: 1.5;
    }
}
@media(max-width:991px){
    .text-title{
        font-size: 16px;
    }
    .text-subtitle{
        font-size: 22px;
        max-width: 100%;
        line-height: 30px;
    }
    .about-img-wrapper{
        width: 45%;
        padding: 0px 50px;
    }
    .gap-5{
        gap:1rem !important;
        width:95% !important;
    }
    .about-img3 {
        top: 13.5%;
    }
    .about-img-wrapper p{
        font-size: 12px;
    }
    .text-ring{
        height: 95px;
        width:95px;
        right: 18%;
    }
    .about-icon1 {
        top: 14%;
        right: 22.8%;
        width: 13%;
    }
}
@media(max-width:768px){
    .about-img1 {
        width: 62% !important;
        height: 90% !important;
    }
    .about-img2 {
        top: 50%;
        right: 5%;
        width: 62% !important;
        height: 90% !important;
    }
    /* .about-img2 {
        top: -23%;
        right: -33%;
        width: 62% !important;
        height: 48% !important;
        position: relative;
    } */
    .about-icon1{
        top: 15.2%;
        right: 15.7%;
        width:13%
    }
    .text-ring {
        height: 110px;
        width:110px;
        right: 11%;
    }
    .about-img3{
        top:55%;
        width:35%;
    }
    .About-section .row .col-xl-7{
        padding-top: 160px;
    }
    /* .about-img5{
        top:41%;
        left:12.8%;
    } */
    .about-img5{
        top:75%;
        left:12%;
    }
}
@media(max-width:576px){
    .about-icon1{
        top: 17.8%;
        right: 16%;
        width:13%
    }
    .text-ring {
        height: 30%;
        width: 21%;
        right: 12%;
        top:12%;
    }
    .about-img3{
        top:50%;
        width:50%;
    }
    .text-title{
        font-size: 15px;
    }
    .text-subtitle{
        font-size: 20px;
    }
    .about-img-wrapper{
        width: 38%;
        padding: 0px 8px;
    }
    .About-section .row .col-xl-7{
        padding-top: 150px;
    }
    .btn-readmore{
        left:0%;
        margin: auto;
    }   
}

/* ---------------------------- FEATURE BOX SECTION ----------------------- */
.title-small{
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
/* .feature-section .col-xl-4, */
.feature-section .col-xl-7{
    padding-left: 25px;
    padding-right: 25px;
}
@media(max-width:576px){
     /* feature section css */
     .feature-section{
        padding: 0px 0px 40px;
     }
     .title-small{
        font-size: 20px;
    }
    .feature-section .col-xl-4,
    .feature-section .col-xl-7{
        padding-left: 12px;
        padding-right: 12px;
    }
    .feature-section .col-xl-7{
        margin-left: 0% !important;
    }
}

/* ------------------------------ SERVICES SECTION --------------------------- */
.services-section{
    position: relative;
    padding: 50px 0px 15px;
}
.services-title{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}   
.services_grid{
    justify-content: center;
    margin: auto;
}
.intro__item-img{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center
}
.intro__item-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px;
}
.intro__item-desc{
    text-align: center;
    font-size: 15px;
    color: #545350;
    font-weight: 500;
}
@media(max-width:576px){
    .services-section{
        padding: 30px 0px;
    }
    .services-title{
        font-size: 20px;
    }
    .intro__item-title{
        font-size: 15px;
    }
    .intro__item-desc{
        font-size: 14px;
    }
}

/* -------------------------- PROCESS SECTION ------------------------ */
.process-section{
    padding: 15px 0px 50px;
}
.process-section .row{
    gap:3rem;
}
.process-title{
    font-size: 20px;
    font-weight: 700;
}
.process-img{
    background: url('/images/about-img.png') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-weight: 550;
    /* line-height: 108px; */
}
.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order:9;
}
.order-10{
    order:10
}
@media(max-width:991px){
    .process-img{
        font-size: 110px;
    }
    .process-title{
        font-size: 18px;
    }
    .process-subtitle{
        font-size: 14px;
    }
    .process-section .row{
        gap:2rem;
    }
}
@media(max-width:768px){
    .process-img{
        font-size: 90px;
    }
    .process-section .row{
        gap:1rem;
    }
}
@media(max-width:576px){
    .process-section .row{
        gap:0.5rem;
    }
    .process-img,.process-title,.process-subtitle{
        text-align: center;
    }
}


/* --------------------- HERO SECTION --------------------- */
.parallax {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden;
    background-attachment: fixed !important;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
}
.lqd-vbg-loader, .lqd-vbg-inner, .lqd-vbg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.lqd-vbg-loader, .lqd-vbg-inner, .lqd-vbg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.lqd-vbg-loader, .lqd-vbg-inner, .lqd-vbg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.lqd-vbg-loader {
    /* background-image: url(../img/spinners/spinner-1.gif); */
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55px;
}
.lqd-vbg-wrap .inline-YTPlayer {
    height: 100%;
}
.lqd-vbg-video:not([data-property]), .lqd-vbg-video .mejs__overlay, .lqd-vbg-video .mejs__poster {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover';
    width: 100% !important;
    height: 100% !important;
}
.mbYTP_wrapper iframe {
    max-width: 8000px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh;
    min-width: 177.77vh;
}
.lqd-vbg-video .YTPOverlay, .lqd-vbg-video .mb_YTPBar, .lqd-vbg-video .inlinePlayButton, .lqd-vbg-video .mejs__overlay-play, .lqd-vbg-video .mejs-controls, .lqd-vbg-video .mejs__controls {
    display: none !important;
}
.inlinePlayButton {
    font-size: 45px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.inlinePlayButton, .mb_YTPBar .ytpicon {
    font-family: ytpregular;
}
.opacity-full {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
}
.bg-gradient-fast-blue-purple {
    background-image: linear-gradient(330deg, rgba(0, 132, 181, 0.41) 0.484713375796178%, #391266 50.94585987261146%);
}
.margin-65px-bottom {
    margin-bottom: 64px;
}
.line-height-65px {
    line-height: 65px;
}
.letter-spacing-minus-1px {
    letter-spacing: -1px;
}
.text-gradient-light-purple-light-orange {
    background: linear-gradient(to right, #5a9f95, #488f98, #f8fbff, #678ab1, #a1bfe1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.letter-spacing-2px {
    letter-spacing: 2px;
}
.text-large {
    font-size: 18px;
    line-height: 22px;
}
.h-1px {
    height: 1px;
}
.w-40px {
    width: 40px;
}
.margin-25px-right {
    margin-right: 25px;
}
.opacity-6 {
    opacity: 0.6;
}





/* ------------------------------------------contact page ---------------------------------------------------*/


.btn_submit {
    background-color: #26ad99;
    border: none;
    font-weight: bold;
}

.btn_submit:hover {
    background-color: rgba(38, 173, 153, 0.7);
    color: #000;
}

.form-control {
    background-color: #F6F6F6;
    border: 1.5px solid #E8E8E8;
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 500;
}

.form-control:focus {
    border: 1.5px solid #26ad99;
}