.footer_grid {
    background-image: url('/images/bgfooter.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.footer-content {
    border-bottom: 2px solid #fff;
    /* margin-top: -3.75rem;
    padding-top: 3.75rem;
    margin-bottom: -7.125rem;
    padding-bottom: 2.5rem; */
    width: 100%;
    display: block;
    padding: 12px;
}

.footer-title {
    color: #fdfcfa;
    line-height: 1.186;
    font-weight: 400;
    font-size: 1.25rem;
}

.footer-nav {
    padding-top: 1.125rem;
    padding: 1.125rem;
}

.nav-title {
    color: #fdfcfa;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    word-break: break-word;
    white-space: normal;
    /* display: block; */
}

.footer-nav ul li a:hover {
    color: #00478a;
}

.footer-desc {
    padding-top: 14px;
    color: rgba(255, 255, 255, 0.6);
}

/* .simplebtn {
    margin-top: 14px;
    display: inline-block;
    background-color: #00478a;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 12px;
} */

.simplebtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.copyright {
    /* font-size: 0.95rem; */
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    color: #015e8a;
    text-decoration: none;
}

@media (max-width: 991px) {
    .footer-content {
        /* max-width: 400px; */
        padding: 20px;
    }
    /* .footer_grid{
        background-size:
    } */
}

@media (min-width: 1200px) {
    .footer_grid {
        display: grid;
        grid-template-columns: minmax(0, 320px) minmax(0, 1fr);
        padding: 3.75rem 4.5rem 7.125rem 3.75rem;
        gap: 4.25rem;
    }

    .footer-content {
        border-bottom: none;
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        margin-top: -3.75rem;
        padding-top: 3.75rem;
        margin-bottom: -7.125rem;
        padding-bottom: 2.5rem;
    }
}

@media(max-width:576px){
    .footer-title{
        line-height: 1.5;
    }
    .footer-wrapper{
        display: block !important;
    }
    .footer-wrapper img{
        margin-bottom: 10px;
    }
    .footer_grid{
        background-image: url('/images/bgfooter1.webp');
    }
}






/* ------------------------------------------hidden Chat Box-------------------------------------------- */

.hidden {
    display: none;
}

.sticky-button {
    position: fixed;
    background: linear-gradient(135deg, #00478a, #00818a);
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 20;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sticky-button i {
    margin: auto;
    color: #fff;
    font-size: 25px;
}

.sticky-button a,
.sticky-button label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.sticky-button .close-icon {
    display: none;
}

.sticky-chat {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 320px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 21;
    opacity: 0;
    visibility: hidden;
}

.sticky-chat a {
    text-decoration: none;
    color: #505050;
}

.sticky-chat .chat-content {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-weight: 400;
}

.sticky-chat .chat-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #00728a;
    overflow: hidden;
}


.sticky-chat .chat-header:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 75px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 70px 0 5px 0;
}

.sticky-chat .chat-header .title {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.sticky-chat .chat-header .title span {
    font-size: 11px;
    font-weight: 400;
    display: block;
    line-height: 1.58em;
    margin: 0;
    color: #f4f4f4;
}

.sticky-chat .chat-text {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
    font-size: 12px;
}

.sticky-chat .chat-text span {
    display: inline-block;
    margin-right: auto;
    padding: 10px;
    background-color: #f0f5fb;
    border-radius: 0px 15px 15px;
}

.chat-menu:checked+.sticky-button label .chat-icon {
    display: none;
}

.chat-menu:checked+.sticky-button label .close-icon {
    display: table-cell;
}

.chat-menu:checked+.sticky-button+.sticky-chat {
    bottom: 90px;
    opacity: 1;
    visibility: visible;
}

.longbtn {
    background-color: #00478a;
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
}

.longbtn:hover {
    background-color: #00728a;
    color: white;
}

.custom-input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: rgba(236, 234, 230, 0.3);
    transition: all 0.3s ease-in-out;
}

.custom-input:focus {
    border-color: #00728a;
    box-shadow: 0 0 8px rgba(0, 114, 138, 0.5);
    outline: none;
}

.custom-input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 13px;
}

.custom-input:hover {
    border-color: #00728a;
}

.custom-input:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }