
.footer_grid {
    background-image: url('/images/bgfooter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.footer-content {
    border-bottom: 1px solid #fff;
    /* margin-top: -3.75rem;
    padding-top: 3.75rem;
    margin-bottom: -7.125rem;
    padding-bottom: 2.5rem; */
    width: 100%;
    display: block;
    padding: 12px;
}

.footer-title {
    color: #fdfcfa;
    line-height: 1.186;
    font-weight: 400;
    font-size: 1.25rem;
}

.footer-nav {
    padding-top: 1.125rem;
    padding: 1.125rem;
}

.nav-title {
    color: #fdfcfa;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    word-break: break-word;
    white-space: normal;
    /* display: block; */
}

.footer-nav ul li a:hover {
    color: #3e9293;
}

.footer-desc {
    padding-top: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.simplebtn {
    margin-top: 14px;
    display: inline-block;
    background-color: #015e8a;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 12px;
}

.simplebtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
.copyright {
    /* font-size: 0.95rem; */
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    color: #015e8a;
    text-decoration: none;
}
@media (max-width: 991px) {
    .footer-content {
        /* max-width: 400px; */
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .footer_grid {
        display: grid;
        grid-template-columns: minmax(0, 320px) minmax(0, 1fr);
        padding: 3.75rem 4.5rem 7.125rem 3.75rem;
        gap: 4.25rem;
    }

    .footer-content {
        border-bottom: none;
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        margin-top: -3.75rem;
        padding-top: 3.75rem;
        margin-bottom: -7.125rem;
        padding-bottom: 2.5rem;
    }
}