.m-details-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
    padding-top: 15px;
}

.m-details-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end; 
    text-align: end;
}

.material-product-title {
    color: #005e89;
    font-weight: 600;
    margin-top: 40px;
}
.material-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 34px;
}
.ImageName {
    padding: 40px;
}

.ben-end {
    text-align: center;
    padding: 0px 24px;
    padding-bottom: 40px;
    max-width: 500px;
}

@media (max-width: 991px) {
    .m-details-right ,
    .m-details-left
    { 
        text-align: start;
        align-items: start;
        justify-content: start;
        padding: 0px 24px;
    }
    .m-details-left {
        margin-top: 40px;
        
    }

    .ben-end {
        text-align: start;
        padding-bottom: 40px;
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .m-details-right,
    .m-details-left {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }
    .m-details-left{
        margin-top: 20px;
    }
    .ben-end {
        text-align: center;
        padding-bottom: 40px;
    }
}