.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.DW-home {
  padding-top: 80px;
}

.product-text {
  width: 90%;
  padding-right: 20px;
}



.product-text p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.highlight-text {
  color: #00478a;
}

.video-section {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.video-crop {
  width: 90%;
  height: 800px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  top: -200px;
}
.video-crop-cad{
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  border-radius: 20px;
}

@media (max-width: 575px) {

  .video-section {
    width: 100%;
    height: 400px;
  }

  .video-crop-cad{
    width: 100%;
    /* height: 40px; */
  }
}

.order-process-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  margin-top: 40px;
}

.order-process-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.order-process-text {
  width: 90%;
  flex: 1;
  text-align: left;
}



.order-process-text p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.order-process-details {
  flex: 1;
  text-align: left;
}

.order-process-details p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* Steps Section */
.order-steps {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
  padding: 0px 0px;
}

.step {
  flex: 1;
  background-color: #003c8a;
  padding: 12px;
  text-align: left;
  color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}

.step:hover {
  transform: scale(1.05); 
}

.fulloverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65)  ;
}

.card-body-content {
  position: absolute;
  bottom: -48%; 
  left: 0;
  width: 100%;
  padding: 20px;
  transition: bottom 0.6s ease-in-out;
}

.card2 {
  bottom: -30%;
}

.card3 {
  bottom: -35%;
}

.step:hover .card-body-content {
  bottom: 0; 
}
.card-txt {
  opacity: 0;
}

.step:hover .card-txt {
  opacity: 1; 
}

.step:hover h3 {
  opacity: 1; 
}

/* Background image effect */
.step::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  background: url("../images/cardbg.jpg") center/120% no-repeat;
  transform: translateY(-50%);
  transition: height 0.5s ease-out;
  z-index: 0;
}

.step:hover::before {
  /* width: 100%; */
  height: 100%;
}

.step h3,
.step p {
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}



.step h3 {
  font-size: 80px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.step p {
  font-size: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  border-radius: 10px;
}

.step:hover .overlay {
  opacity: 1;
}

.overlay span {
  font-size: 14px;
  line-height: 1.5;
}

.quality-section {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  bottom: 20px;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.quality-content {
  /* background: rgba(0, 0, 0, 0.7); */
  padding: 100px 40px;
  max-width: 700px;
  border-radius: 20px;
  color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.quality-content {
  font-size: 1.2rem;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00478a;
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0b7dda;
}

.steps { 
  margin-bottom: 50px;
  padding-bottom: 40px 0px;
}


@media (max-width: 991px) {
  .DW-home {
    padding-top: 70px;
  }
  .steps { 
    margin-bottom: 50px;
    padding-bottom: 40px 0px;
  }
}

@media (max-width: 757px) {
  .quality-content {
    width: 100%;
    font-size: 1rem;
    padding: 50px 20px;
  }

  .DW-home {
    padding-top: 80px;
  }

  .product-text {
    width: 100%;
    padding-right: 20px;
  }
  .video-crop {
    width: 100%;
  }

  .steps { 
    margin-bottom: 30px;
    padding-bottom: 40px 0px;
  }

}

@media (max-width: 575px) {
  .quality-content {
    width: 100%;
    font-size: 1rem;
    padding: 50px 0px;
  }

  .DW-home {
    padding-top: 100px;
  }


  .product-text {
    width: 100%;
    padding-right: 20px;
  }

  .video-crop {
    width: 100%;
  }

  .order-process-text {
    width: 100%;
 
  }
  .order-process-text h2{
    display: block;
  }
  .steps { 
    margin-bottom: 30px;
    padding-bottom: 40px 0px;
  }
}

/*================================ Crown-Bridge start ====================*/
.video-section-crown{
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.video-crop-crown{
  width: 90%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  top: -200px;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 102, 255, 0.4);
  z-index: 1;
}
.implant-card-section {
  padding: 50px 0;
  /* background-color: white; */
}

/* Implant Card */
.implant-card {
  /* background: linear-gradient(135deg, rgba(0,102, 153,0.1), rgba(104, 171, 161, 0.1)); */
  /* background-color: linear-gradient(135deg, rgba(0,102, 153,0.2), rgba(104, 171, 161, 0.2)); */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  border: 1px solid #eceae6;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  height: 660px;
}

@media (min-width: 1200px ) {
  .imcards {
    justify-content: space-around;
    max-width: 450px;
  }
}
.card-bg {
  position: absolute;
  height: 100%;
  width:  100%;
  top: 0%;
  left: 0%;
}

/* Header Section */
.implant-card-header {
  /* background: #e6f7ff; */
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: #005e8a;
  /* z-index: 2; */
}

.implant-card-header h2 {
  font-size: 18px;
}

/* Image Section */
.implant-image-container {
  /* background: #f8f9fa; */
  position: relative;
  display: inline-block;
  /* padding: 15px; */
  border-radius: 10px;
  margin-bottom: 15px;
  z-index: 2;
}

.implant-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.implant-card-body{
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
  position: relative;
  padding: 20px;
}
.implant-card-body p {
  font-size: 15px;
  color: #000;
  line-height: 1.9;
  margin-bottom: 20px;
  z-index: 2;
  text-align: justify;
  padding: 20px !important;
}


/*================================ Crown-Bridge end ====================*/
/* ================================================================ start Implants =============================================== */
.product-before-after {
  background-color: rgba(0,102,153,0.2);
  margin-bottom: 20px;
  width: 100%;
  /* height: 500px; */
  
}

/* .for-rlative {
  position: relative;
} */
.product-before-after-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-rlative {
  position: relative;
}


.product-before-after-heading {
  position: absolute;
  text-align: right;
  right: 0%;
  top: 6%;
}
.product-before-after-heading h2 {
  font-weight: 700;
  font-size: 20px;
}
.product-before-after-heading h3{
  position: absolute;
  width: 50%;
  text-align: right;
  right: 0%;
  font-size: 2.3rem;
}
.product-before-after-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 30px;
  text-align: right;
  /* font-size: 18px; */
}

.before-after-contains {
  display: none;
}

@media (max-width: 991px) {
  .before-after-contains {
    display: block;
  }

  .heading_outer {
    display: none;
  }

  .product-before-after-content {
    padding-top: 100px;
    text-align: center;
    position: relative;
  }

  .product-before-after-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0%;
    top: 8%;
  }
  .product-before-after-heading1{
    display: block;
  }
  .product-before-after-heading1 h2{
    font-size: 20px;
    font-weight: 700;
  }
  .product-before-after-heading1 h3{
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media (max-width: 775px) {

  .product-before-after-content {
    padding-top: 100px;
    text-align: center;
    position: relative;
  }

  .product-before-after-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0%;
    top: 5%;
  }

  .product-before-after-heading1 h2{
    font-size: 18px;
    font-weight: 700;
  }
  .product-before-after-heading1 h3{
    font-size: 1.6rem;
  }
}

@media (max-width: 575px) {

  .before-after-contains {
    display: block;
  }
  .product-before-after-content {
    padding-top: 110px;
    text-align: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-before-after-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0%;
    top: 8%;
  }

  .product-before-after-heading1 h2{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }
  .product-before-after-heading1 h3{
    font-size: 1.2rem;
    text-align: left;
  }
}


/* ================================================================ end Implants =============================================== */