.text-left {
    max-width: 600px;
}

.text-left h2{
    font-size: 2rem;
    line-height: 1.5;
}

.about-img-wrapper-card {
    border: 2px solid #eceae6 ;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}