.about-text h2 {
    /* font-size: 2.5rem; */
    line-height: 1.55;
    z-index: 3;
}
@media(max-width:768px){
    .about-container .about-text h2{
       width: 100% !important;
       margin-top: 60px !important; 
       /* text-align: center; */
       /* font-size: 1.9rem; */
     }
}
@media(max-width:576px){
    .about-text h2{
        /* font-size: 1.7rem; */
        margin-top: 20px;
    }
}



.double-heading {
    font-size: 2.5rem;
    line-height: 1.55;
    z-index: 3;
}
@media(max-width:991px){
    .double-heading{
        font-size: 2rem;
    }
}
@media(max-width:768px){
    .double-heading{
       width: 100% !important;
       /* margin-top: 20px !important;  */
       font-size: 1.9rem;
     }
}
@media(max-width:576px){
    .double-heading{
        font-size: 1.7rem;
        margin-top: 10px;
        width: 100%;
    }
}

.highlight-text1{
    color: #00478a;
  }
  .highlight-text2{
    color:#00818a;
  }

/* #__next{
    overflow:hidden !important;
} */
/* background video section */
.parallax {
    overflow: hidden;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    position: relative !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
.lqd-vbg-loader, .lqd-vbg-inner, .lqd-vbg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.lqd-vbg-loader, .lqd-vbg-inner, .lqd-vbg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.lqd-vbg-loader {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55px;
}
.lqd-vbg-wrap .inline-YTPlayer {
    height: 100%;
}
.lqd-vbg-video:not([data-property]), .lqd-vbg-video .mejs__overlay, .lqd-vbg-video .mejs__poster {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: object-fit\: cover;
    width: 100% !important;
    height: 100% !important;
}
.background-video1{
    top:13% !important;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.lqd-vbg-video .YTPOverlay, .lqd-vbg-video .mb_YTPBar, .lqd-vbg-video .inlinePlayButton, .lqd-vbg-video .mejs__overlay-play, .lqd-vbg-video .mejs-controls, .lqd-vbg-video .mejs__controls {
    display: none !important;
}
.bg-gradient-fast-blue-purple {
    background: linear-gradient(135deg, #00478a, #00818a);
}
.opacity-full {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .7;
    top: 0;
    left: 0;
}
.parallax .md-landscape-h-600px {
    height: 600px !important;
}
.letter-spacing-minus-1px {
    letter-spacing: -1px;
    font-weight: 600;
}
.line-height-65px {
    line-height: 65px;
}
.margin-65px-bottom {
    margin-bottom: 64px;
}
.text-gradient-light-purple-light-orange {
    background: linear-gradient(to right, #5a9f95, #488f98, #f8fbff, #678ab1, #a1bfe1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-large {
    font-size: 18px;
    line-height: 22px;
}
.letter-spacing-2px {
    letter-spacing: 2px;
}
.opacity-6 {
    opacity: .9;
    font-weight:500;
}
.margin-25px-right {
    margin-right: 25px;
}
.w-40px {
    width: 40px;
}
.h-1px {
    height: 1px;
}
.video-title{
    color: white;
    line-height: 1.8 !important;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 64px;
    letter-spacing: 0.5px;
}
.video-desc{
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 16px;
}
/* .gradient-text {
  background: linear-gradient(135deg, #00478a, #00818a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px white;
} */

@media(min-width:1400px) and (max-width:1649px){
    .background-video1{
        top:10% !important;
    }
    .parallax.md-landscape-h-600px{
        height:800px !important
    }
    .video-title{
        color: white;
        line-height: 2;
        font-size: 35px;
        font-weight: 700;
    }
    .video-desc{
        color: white;
        line-height: 1.9;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
}
@media(max-width:576px){
    .background-video1 {
        padding-top: 35px;
    }
    .line-height-65px{
        line-height:35px;
    }
    .margin-65px-bottom {
        margin-bottom: 34px;
    }
    .text-large{
        font-size:10px;
        line-height:20px;
    }
    .margin-25px-right {
        margin-right: 15px;
    }
    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        object-fit: cover;
        z-index: -1;
    }
    .background-video.product{
        height: 100% !important;
    }
    .background-video1{
        top:19.7% !important;
    }
    .video-title{
        color: white;
        line-height: 1.4;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .video-desc{
        color: white;
        line-height: 1.9;
        max-width: 60%;
        letter-spacing: 1px;
        font-size: 10px;
    }
    .parallax .justify-content-center{
        margin-top: 140px;
        justify-content: start !important;
    }
    .parallax .md-landscape-h-600px {
        height: 300px !important;
    }
}