/* common css */
.DW-home {
  padding-top: 0px;
}
/* -------------------------- common css ---------------------------------- */
.product-title {
  font-weight: 550;
  line-height: 1.6;
}
.product-sub-title {
  color: #000;
  font-weight: 550;
  line-height: 1.9;
  letter-spacing: 0.5px;
  font-size: 16px;
}
/* -------------------------- Product section 1 --------------------------- */
.product-section1 .product-vector {
  position: absolute;
  z-index: 1;
}
.product-section1 .product-title {
  line-height: 1.7;
  font-weight: 500;
  width: 84%;
}
.product-section1 .product-title span {
  background: linear-gradient(
    264.54deg,
    #68aba1 14.29%,
    #069 50.25%,
    #68aba1 121.29%
  );
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  font-weight: 600;
}
/* -------------------------- Product section 2 --------------------------- */
.product-section2 .product-title span,
.product-section3 .product-title span,
.product-quality-section .product-title span {
  background: linear-gradient(
    94.11deg,
    #006699 10.77%,
    #68aba1 68.93%,
    #006699 92.77%
  );
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  font-weight: 600;
}
.product-section2-ul li {
  list-style: none;
  position: relative;
}
.product-section2-ul li::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url("../images/true-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  top: 8px;
  left: -30px;
}
.product-section2-ul li h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 25px;
}
.product-section2-ul li:last-child h3 {
  margin-bottom: 0px;
}
.product-section2-ul li h3 span {
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.2;
}

/* -------------------------- Product section 3 --------------------------- */
.product-card {
  padding: 20px;
  border-radius: 25px;
  position: relative;
  height: 100%;
}
.product-card-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.product-card-header {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 18px;
  z-index: 1;
  position: relative;
  margin-bottom: 25px;
}
.product-card-header h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 550;
  line-height: 1.7;
  letter-spacing: 0.7px;
}
.product-card-img {
  margin-bottom: 25px;
}
.product-card-description {
  background-color: #fff;
  z-index: 1;
  padding: 22px;
  border-radius: 20px;
  height: 24%;
}
.product-card-description p {
  font-weight: 550;
  letter-spacing: 0.3px;
  line-height: 1.7;
}
/* ----------------------- Product section 4(quality-section) --------------------- */
.product-quality-section {
  /* background-image: url("../images/product-vector.png");
  background-size: 100% auto;
  background-repeat: no-repeat; */
  /* width: 100%;
  height: 100%; */
  position: relative;
  /* top: 70px !important; */
  /* margin-top: 3%; */
}
.product-quality-section .container {
  position: relative;
  height: 100%;
}
.product-quality-section .row {
  margin-top: 20px;
}
.product-quality-section .qty-sec-vector {
  position: absolute;
  z-index: 1;
  top: 0% !important;
}
.product-quality-section .text-section {
  width: 80%;
  text-align: center;
  /* margin: auto; */
  margin: 0px auto 0px 0px;
}
.product-quality-section .quality-section-title {
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 0.2px;
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-align: left;
}
.product-quality-section .quality-section-description {
  width: 100%;
  margin: 0px auto 0px 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size:16px;
  line-height: 1.8;
  text-align: left;
}
.product-quality-section .card {
  background-color: #fff !important;
  color: #000;
  position: relative;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border: 0px;
  padding: 15px 5px;
  margin: 13px auto;
}
.product-quality-section .card .card-header {
  border-bottom: 0px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  height: 80px;
}
.product-quality-section .card .card-header img {
  display: block;
  margin-right: auto;
}
.product-quality-section .card .card-body {
  text-align: left;
  letter-spacing: 0.3px;
  line-height: 1.8;
  height: 150px;
  display: flex;
  align-items: end;
  font-weight: 500;
}
/* emax-section */
.emax-solution-section .container {
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .product-quality-section .text-section {
    width: 100%;
  }
  /* .product-quality-section .quality-section-title{
    font-size: 2rem;
  } */
}
@media (max-width: 991px) {
  .product-quality-section .qty-sec-vector {
    top: 0% !important;
  }
  .product-quality-section .quality-section-title {
    font-size: 24px;
    /* line-height: 1.6; */
  }
  .product-quality-section .quality-section-description {
    width: 100%;
    font-size: 14px;
  }
  .product-quality-section .row {
    margin-top: 0px;
  }
  .product-quality-section .card .card-header {
    height: 115px;
  }
  .product-quality-section .card .card-body {
    align-items: start;
    height: 115px;
  }
}
@media (max-width: 768px) {
  .product-quality-section .qty-sec-vector {
    top: 5% !important;
  }
  .product-quality-section .row {
    flex-direction: column;
    margin: auto;
    position: relative;
  }
  .product-quality-section .row .col-10 {
    margin: auto;
    position: sticky;
  }
  /* .cards-container .sticky-card{
    position:sticky;
    display: flex;
  } */
  .cards-container #card1{
    top:90px;
  }
  .cards-container #card2{
    top:110px;
  }
  .cards-container #card3{
    top:130px;
  }
  .cards-container #card4{
    top:150px;
  }
  .cards-container #card5{
    top:170px;
  }
  .cards-container #card6{
    top:190px;
  }
  /* #__next {
    overflow: visible !important;
  } */
  .product-quality-section .quality-section-title {
    line-height: 1.6;
    font-size: 22px;
  }
  .product-quality-section .qty-sec-vector{
    z-index: -1;
  }
  .product-quality-section .quality-section-description {
    width: 100%;
    font-size: 14px;
  }
  /* .cards-container .col-lg-4 {
    position: sticky;
  } */
  /* .sticky-card {
    position: sticky !important;
    top: 20px; 
  } */
  /* .cards-container .card {
    position: sticky;
    top: 90px;
  } */
}
@media (max-width: 576px) {
  .product-quality-section .qty-sec-vector {
    top: 1% !important;
  }
  .product-quality-section .quality-section-title {
    font-size: 20px;
  }
  .product-quality-section .quality-section-description {
    width: 100%;
    font-size: 13px;
    line-height: 1.7;
  }
  .emax-solution-section .container {
    padding-top: 25px;
  }
  .cards-container > div {
    display: block; /* override bootstrap flex basis for stickiness */
  }
  /* .product-quality-section .sticky-card {
    position: sticky;
    top: 100px; 
    align-self: flex-start; 
  } */
  /* .quality-cards-container {
    position: relative;
    grid-row-gap: 15px;
    display: flex;
    flex-flow: column;
  }
  .quality-cards-container .card {
    grid-row-gap: 84px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 43.04%;
    grid-auto-columns: 1fr;
    box-shadow: 0 0 3px 0 rgb(27 137 118 / 0.6);
    border-bottom: 2px solid #1b8976;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    display: flex;
    position: sticky;
    background-color: #fff;
  }
  .quality-cards-container #card1 {
    top: 80px;
  }
  .quality-cards-container #card2 {
    top: 100px;
  }
  .quality-cards-container #card3 {
    top: 120px;
  } */
  /* #__next {
    overflow: visible !important;
  } */
  /* .zirconia-wrapper {
    padding: 30px 0 0;
    display: block;
  }
  .zirconia-wrapper .container {
    --bs-gutter-x: 5.8rem;
  }
  .zirconia-wrapper .line-2 {
    display: none;
  }
  .zirconia-wrapper-title {
    font-size: 22px;
    color: #1b8976;
    width: 100%;
    text-align: center;
    padding-top: 25px !important;
  }
  .zirconia-content-wrapper {
    grid-row-gap: 35px;
    flex-flow: column;
    display: block;
    position: relative;
  }
  .zirconia-content-item {
    grid-row-gap: 84px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 43.04%;
    grid-auto-columns: 1fr;
    box-shadow: 0 0 3px 0 rgb(27 137 118 / 0.6);
    border-bottom: 2px solid #1b8976;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    display: flex;
    position: sticky;
    background-color: #fff;
  }
  .zirconia-content-item._1 {
    top: 80px;
  }
  .zirconia-content-item._2 {
    top: 100px;
  }
  .zirconia-content-item._3 {
    top: 120px;
  }
  .zirconia-content-item span {
    padding: 0 10px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: rgb(27 137 118 / 0.3);
    font-weight: 750;
  }
  .zirconia-content-item h3 {
    font-size: 16px;
    color: #1b8976;
    font-weight: 700;
    line-height: 1.7;
    text-align: center;
    padding: 0 30px;
  }
  .zirconia-content-item p {
    font-size: 14px;
    text-align: center;
    line-height: 1.7;
  } */
}

/* ----------------------- Product section 5(contact) --------------------- */
.product-contact {
  text-align: center;
  background: #00000080;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.product-contact-content {
  background: rgba(0, 102, 153, 0.2);
  height: 100%;
  width: 100%;
  padding: 80px 80px;
  margin: 35px auto;
  border-radius: 15px;
  color: #fff;
}
.product-contact-content h2 {
  line-height: 1.6;
  letter-spacing: 0.3;
  margin-bottom: 20px;
  font-weight: 700;
}
.product-contact-content p {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.3;
}
.product-contact-content .btn-contact {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.product-contact-content .btn-contact:hover {
  background-color: #fff;
  color: #000;
}
.product-contact-content .btn-contact:focus{
  border: none ;
}
/*--------------------------- Implant  page -------------------------- */
.product-section1.Implant .product-vector {
  top: 15%;
}
.product-section1.Implant .product-text {
  line-height: 1.7;
  font-weight: 500;
  width: 100%;
}
.product-section1.Implant p {
  padding-right: 50px;
  letter-spacing: 0.2px;
}
.product-section1.Implant p b {
  color: rgba(0, 102, 153, 1);
  font-weight: 700;
}
.product-section2 .Implant-img {
  width: 90%;
  display: block;
  margin: auto;
}
/* min and max width  */
/* @media screen and (min-width:1600px) and (max-width:1799px){
  .product-vector1 {
    display: block !important;
    position: absolute;
    z-index: -1;
  }
  .product-section1 .product-vector,
  .crown-bridges .product-vector {
    display: none;
  }
} */
@media screen and (min-width: 1400px) and (max-width: 1649px) {
  .product-card-description {
    height: 23.5%;
  }
  .product-section1 .product-vector {
    top: -4%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .DW-home {
    padding-top: 20px;
  }
}
@media (min-width: 1600px) {
  .product-vector1 {
    display: block !important;
    position: absolute;
    z-index: -1;
    top: -4%;
  }
  .product-section1 .product-vector,
  .crown-bridges .product-vector {
    display: none;
  }
}
/* @media (min-width: 1400px) {
  .product-section2-ul li h3{
    font-size: 20px;
  }
  .Implant-ul{
    padding-left: 1rem;
  }
  .product-sub-title{
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  
  .product-card-description p,
  .product-section2-ul li h3 span {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.8px;
  }
  .product-quality-section .text-section{
    width:90%
  }
  .product-quality-section .quality-section-description{
    font-size: 20px;
    line-height: 1.8;
    font-weight: 550;
    letter-spacing: 0.8px;
  }
  .product-quality-section .card{
    padding: 18px 12px;
  }
  .product-quality-section .card .card-body{
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.8px;
    height: 200px;
    font-weight: 550;
  }
  .product-card-header h2{
    font-size: 20px;
  }
  .product-contact-content p{
    font-size: 20px;
    line-height: 1.9;
    letter-spacing: 0.8px;
  }
  .product-contact-content .btn-contact{
    font-size: 20px;
  }
  .product-section1 .product-title{
    width:90%;
  }
  .product-section1.Implant p{
    line-height: 2;
    letter-spacing: 0.8px;
    padding-right: 30px;
  }
} */
/* @media(min-width:1300px){
  .product-section2-ul li h3{
    font-size: 20px;
  }
  .product-section2-ul li h3 span{
    font-size: 18px;
    letter-spacing: 0.8px;
  }
} */
/* max-width */
@media (max-width: 1200px) {
  /* .crown-bridges .product-text,
    .crown-bridge-premier .product-text,
    .crown-bridges-solution .product-text,
    .product-section1.Implant .product-text, */
  .product-title {
    font-size: 30px;
    width: 95%;
  }
  /* product section3 */
  .product-card-description {
    height: 29%;
  }
  /* contact section5 */
  .product-contact-content {
    padding: 60px 60px;
    margin: 25px auto;
  }
  .product-contact-content .product-title {
    width: 100%;
  }
  .product-contact-content h2 {
    margin-bottom: 15px;
  }
  /* implant page */
  .product-section2.Implant .Implant-img {
    width: 100%;
  }
  .product-section1.Implant p {
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  /* .crown-bridges .product-text,
    .crown-bridge-premier .product-text,
    .crown-bridges-solution .product-text,
    .product-section1.Implant .product-text, */
  .product-title {
    font-size: 24px;
  }
  /* product section1  */
  .product-section1 {
    padding: 0px;
  }
  .product-section1 .product-vector {
    top: 10%;
  }
  .product-section1.Implant .product-vector{
    top:10%;
  }
  .product-section1.crown-bridges p {
    font-size: 13px;
  }
  /* crown-bridge solution section  */
  .crown-bridges-solution-img {
    width: 100%;
  }
  /* product section2 */
  .product-section2-ul {
    margin-bottom: 12px;
  }
  .product-section2-ul li h3 {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  /* product section3 */
  /* .crown-bridge-premier .row, */
  .product-section3 .row {
    width: 100% !important;
  }
  .product-card-description {
    height: 20%;
  }
  /* product section5 */
  .product-contact-content {
    padding: 60px 40px;
    margin: 20px auto;
  }
  .product-contact-content p {
    line-height: 1.5;
  }
  /* implant page */
  .product-section1.Implant .product-title {
    padding-right: 0px;
    font-size: 22px;
  }
  .product-section1.Implant p {
    padding-right: 20px;
    font-size: 14px;
  }
  .product-sub-title{
    font-size: 14px;
  }
  .product-section3.Implant .product-title {
    width: 100%;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  /* .crown-bridges .product-text,
    .crown-bridge-premier .product-text,
    .crown-bridges-solution .product-text, */
  .product-section1 .product-title {
    width: 100%;
    /* font-size: 22px; */
  }
  .product-title {
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.6;
    width: 100%;
  }
  /* .crown-bridges p, 
    .crown-bridges-solution p, 
    .crown-bridge-premier p, */
  .product-sub-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .product-section1 .product-vector {
    top: 20%;
  }
  .product-section1.Implant .product-vector{
    top:20%
  }
  /* contact section */
  .product-contact {
    padding: 15px;
  }
  .product-contact-content {
    padding: 50px 30px;
    margin: 20px auto;
  }
  /* implant page */
  .product-section1.Implant p {
    padding-right: 0px;
  }
}
@media (max-width: 576px) {
  /* .crown-bridges .product-text,
    .crown-bridge-premier .product-text,
    .crown-bridges-solution .product-text{
        font-size: 20px;
        margin-top: 10px;
    } */
  .product-title {
    font-size: 20px;
    margin-top: 10px;
  }
  .product-section3 .row {
    margin-left: 0px;
  }
  /* contact section */
  .product-contact {
    padding: 5px;
  }
  .product-card-description {
    height: auto;
    padding: 18px 15px;
  }
  .product-section2-ul li h3 {
    margin-bottom: 15px;
  }
  .product-section2-ul li h3 span {
    letter-spacing: 0.5px;
  }
  .product-section1.Implant .product-vector{
    top:26%;
  }
}
