@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #121212;
    --hairline-color: #272727;
    --bg-blue:rgba(0, 102, 153, 1);
  }
}
/* common css */
.bg-blue{
    background-color: var(--bg-blue) !important;
    color:#fff
}
.admin-login-page{
    background-color: #212121;
    height: 100%;
    padding: 8.6% 0px;
}
.admin-login-page .container{
    /* background: var(--body-bg); */
    border: 1px solid var(--hairline-color);
    overflow: hidden;
    /* width: 28em; */
    min-width: 300px;
    /* margin: 100px 0px; */
    height: 100%;   
    border-radius: 4px;
    margin: auto;

}
.admin-login-page .header{
    background-color:#417690;
    padding: 15px 15px;
    justify-content: center;
   
}
.login-form-wrapper{
    background-color: #212121;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content:center;
    border-radius: 8px;
    width:40%
}
.login-form-wrapper .header h1{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.login-form-wrapper .header h1 a{
    text-decoration: none;
}
.login-content #login-form{
    padding: 20px;
    background-color: #000;
}
#login-form .form-row{
    margin:12px auto
}
#login-form .form-label{
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    letter-spacing: 0.8px;
}
#login-form .form-control{
    /* background-color: rgb(33, 33, 33); */
    /* color: #fff; */
    border: 2px solid var(--bs-border-color);;
}
.submit-row .btn{
    background-color: #264b5d;
    padding: 8px 15px;
    font-size: 13px;
    line-height: normal;
}
#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}
#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);   
}
#user-tools a:visited{
    /* color:#eee; */
    transition: color 0.15s, background 0.15s;
}
#container > div {
    flex-shrink: 0;
}
div.breadcrumbs {
    background: #264b5d;
    padding: 10px 40px;
    border: none;
    color: #e0e0e0;
    text-align: left;
}
.main.shifted{
    background: #000;
}
.main > .content {
    flex: 1 0;
    max-width: 100%;
}
#content {
    padding: 20px 40px;
    color:#fff
}
#content h1{
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #e0e0e0;
}

body {
    margin: 0;
    color: #262626;
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    background-color: #fafafb;
}

.login-form-label{
    font-size: 0.875rem;
}
.login-form-input input{
  padding: 10.5px 14px 10.5px 12px;
}

.MuiIconButton-root{
    border-radius: 8px !important;
}
.css-1fb6jpa-MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}
.image-group{
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    /* display: block; */
}
.jodit-react-container{
    margin: 5px auto 10px;
}
.form-control-label,.css-fk5owp-MuiFormLabel-root-MuiInputLabel-root{
    color: rgba(0, 102, 153, 1);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.3px;
    background-color: #fafafb;
    padding: 0px 10px 0px 3px;
    /* width: 10%; */
}
.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutlinec,
.css-lqwr9g-MuiPickersOutlinedInput-notchedOutline{
    border-width: 1.5px;
    border-color: rgba(0, 102, 153, 0.3) !important;
}
fieldset{
    border-width: 1.5px !important;
    border-color: rgba(0, 102, 153, 0.3) !important;
}
/* .css-7xl0p-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, */
/* .css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline, */
.css-7xl0p-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-h2s8ty-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-1tgopf7-MuiPickersInputBase-root-MuiPickersOutlinedInput-root.Mui-focused:not(.Mui-error) .MuiPickersOutlinedInput-notchedOutline,
.css-1no194y-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: rgba(0, 102, 153, 1) !important;
    border-width: 2px !important;
}
.css-fk5owp-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{    
    color: rgba(0, 102, 153, 1);
}
/* .css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline:hover,
.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline:focus,
.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline:active{
    border-color: rgba(0, 102, 153, 1);
} */
.section-main-title{
    color: rgba(0, 102, 153, 1);
}
.section-main-subtitle{
    color: rgba(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    font-weight: 400;
    gap:8px;
    font-size: 14px;
}
.section-main-subtitle b{
    font-weight: 700;
    font-size: 16px;
    /* font-size: 18px; */
    color:rgba(0, 102, 153, 1)
}
.suggestionBox{
    position:absolute;
    top:70px;
    left: 12px;
    width:83%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px -2px 10px rgba(0, 102, 153, 0.25);
    z-index: 99;
    /* padding: 20px; */
}
.suggestionBox a:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.suggestionBox a{
    display: inline-block;
    width:100%;
    padding: 10px 20px;
    /* border-radius: 8px; */
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 102, 153, 1);
}
.suggestionBox a:hover{
    background-color: rgba(0, 102, 153,1);
    color:#fff;
    font-weight: bold;
}
.suggestionBox a:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none !important;
}
.suggestionBox p{
    padding: 10px 20px;
}
